

.calendar-month, .calendar-active-month {
    font-weight: 300;
    text-align: center;
}

.calendar-month {
    font-size: 16pt;
    opacity: 0.5;
    cursor: pointer;
}

.calendar-active-month {
    font-size: 22pt;
}

.calendar-day-name {
    font-weight: 300;
    font-size: 10pt;
    text-align: center;
}

table  {
    border-collapse: inherit;
    border-spacing: 0px;
}

td {
    margin: 0px !important;
}

.calendar-day {
    background: #F5F5F5;
    min-width: 72px;
    height: 72px;
    max-height: 72px;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #FFF;
    overflow: hidden;
}

.seleccionable {
    cursor: pointer;
}

.calendar-day-active {
    border: 1px solid #A6A6A6;
}

.date-now {
    background: #FFF9C4;
    font-size: 12pt;
    font-weight: 700;
}

.day-number {
    display: block;
    font-size: 11pt;
    text-align: right;
}

.event-mark-container {
    margin-top: 6px;
}

.event-mark {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
}