<div style="text-align: center">
    <h1>Listado de Componentes</h1>
</div>
<div class="main-container">
    <div class="menu-container">
        <ul class="items-list">
            <ng-container *ngFor="let element of componentes; let i=index;">
                <li class="item" (click)="toggle(element)"> {{ i + 1 }} - {{ element.key }}  </li>
            </ng-container>
        </ul>
    </div>

    <div class="container" *ngIf="selected !== null">
        <h2>{{ selected.key }}</h2>
        <p> {{ selected.name }} </p>
        <h3>Parametros</h3>
        <ul>
            <li *ngFor="let param of selected.params">
                <span class="code">{{ param.key }}</span> {{ param.description }}
            </li>
        </ul>
        <h3>Ejemplo</h3>
        <pre class="code"> {{ selected.example }} </pre>
        <br>
    </div>
</div>

<separador [size]="48"></separador>   

<calendar [eventos]="[{ start: '2017-09-05T00:00:00', end: '2017-09-08T00:00:00', CodEvento: 'EVT_01' }, { start: '2017-09-06T00:00:00', end: '2017-09-18T00:00:00', CodEvento: 'EVT_01' }]">


    
</calendar>